parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - DependencyInjection
        - Tests
    excludePaths:
        - DependencyInjection/Configuration.php
    ignoreErrors:
        -
            message: '#::loadInternal\(\) has no return type specified\.#'
            path: 'DependencyInjection/KsaverasCircuitBreakerExtension.php'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
