parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - DependencyInjection
        - Tests
    autoload_files:
        - vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
    excludes_analyse:
        - DependencyInjection/Configuration.php
    ignoreErrors:
        -
            message: '#::loadInternal\(\) has no return typehint specified#'
            path: 'DependencyInjection/CircuitBreakerExtension.php'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
