<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutCoverageMetadata="true"
         cacheResult="false"
>
  <testsuites>
    <testsuite name="Bundle Test Suit">
      <directory>./Tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./.github/</directory>
      <directory>./Tests/</directory>
      <directory>./vendor/</directory>
      <file>./.php-cs-fixer.php</file>
      <file>./rector.php</file>
    </exclude>
  </source>
</phpunit>
